@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap");

* {
  box-sizing: border-box;
}

body,
html {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Roboto", sans-serif;
  background-color: #60935d;
}

.content {
  position: relative;
  z-index: 1;
}

.hidden {
  display: none;
}
