@mixin contrast-button() {
  color: $button-color;
  transition: 0.2s color ease;
  font-weight: bold;
  font-size: $default-font-size;

  &:hover {
    color: $button-hover-color;
  }

  &:disabled {
    color: $button-color;
    opacity: 0.5;
    cursor: default;
  }
}
