@mixin contrast-button($size: "small") {
  color: $button-color;

  @if $size == "small" {
    border: 1px solid $button-bg-color;
    font-size: $contrast-button-font-small-size;
  } @else {
    border: 3px solid $button-bg-color;
    font-size: $contrast-button-font-size;
  }

  &:disabled {
    opacity: 0.5;
    cursor: default;
  }
}
