$light-color: rgba(255, 255, 255, 1);
$dark-color: rgba(0, 0, 0, 1);
$ebony-clay-color: rgba(35, 39, 57, 1);
$cerulean-color: rgba(3, 169, 244, 1);
$carribean-color: rgba(6, 214, 160, 1);
$dove-color: rgba(102, 102, 102, 1);
$orange-color: rgba(255, 152, 0, 1);
$dusty-color: rgba(153, 153, 153, 1);
$silver-color: rgba(192, 192, 192, 1);
$vivid-color: rgba(255, 193, 7, 1);
$martinique-color: rgba(54, 54, 86, 1);
$regent-color: rgba(123, 140, 149, 1);

$orange-semi-color: rgba(255, 152, 0, 0.6);
$cerulean-semi-color: rgba(3, 169, 244, 0.6);
$dusty-semi-color: rgba(153, 153, 153, 0.6);
$dove-semi-color: rgba(102, 102, 102, 0.6);

$theme-colors: (
  light: (
    focus: $light-color,
    primary: $ebony-clay-color,
    tertiary: $cerulean-color,
    neutral: $regent-color,
    tertiary-semi: $cerulean-semi-color,
    neutral-semi: $dove-semi-color,
    quaternary: $regent-color,
  ),
  dark: (
    focus: $ebony-clay-color,
    primary: $light-color,
    tertiary: $orange-color,
    neutral: $dusty-color,
    tertiary-semi: $orange-semi-color,
    neutral-semi: $dusty-semi-color,
    quaternary: $martinique-color,
  ),
  libraries: (
    ts-components: (
      ts-select: var(--primary-color),
      ts-select-icon: var(--primary-color),
      ts-select-bg: var(--focus-color),
      ts-select-hover: var(--tertiary-color),
      ts-select-border: var(--primary-color),
      ts-accordion-header-bg: var(--primary-color),
      ts-accordion-icon: var(--focus-color),
      ts-accordion-content-bg: var(--focus-color),
      ts-accordion-content: var(--primary-color),
      ts-toggle: var(--tertiary-color),
      ts-toggle-on: var(--primary-color),
      ts-tooltip: var(--dark-color),
      ts-tooltip-bg: var(--light-color),
      ts-tooltip-filter: var(--shiny-color),
      ts-simple-input: var(--primary-color),
      ts-simple-input-bg: var(--focus-color),
      ts-simple-input-arrow: var(--primary-color),
      ts-simple-input-border: var(--quaternary-color),
      ts-simple-input-border-active: var(--primary-color),
    ),
  ),
  shared: (
    light: $light-color,
    dark: $dark-color,
    shiny: $silver-color,
    vivid: $vivid-color,
    success: $carribean-color,
  ),
);

$shadow-color-filter: drop-shadow(2px 4px 3px var(--dark-color));

$bg-color: var(--focus-color);
$font-color: var(--primary-color);
$link-color: var(--tertiary-color);

$crossword-bg-color: var(--focus-color);
$crossword-text-color: var(--primary-color);
$crossword-bg-success-color: var(--success-color);
$crossword-bg-secondary-color: var(--tertiary-color);
$crossword-input-border-color: var(--primary-color);
$crossword-letter-border-color: var(--primary-color);
$crossword-empty-bg-color: var(--quaternary-color);

$crossword-details-color: var(--light-color);
$crossword-details-bg-color: var(--tertiary-color);
$crossword-details-effects-color: var(--tertiary-semi-color);

$details-index-border-color: var(--primary-color);
$details-success-bg-color: var(--success-color);
$details-border-color: var(--primary-color);
$details-accordion-header-border: none;

$backdrop-bg-color: var(--neutral-semi-color);

$modal-window-bg-color: var(--focus-color);
$modal-window-items-color: var(--light-color);
$modal-window-items-bg-color: var(--quaternary-color);

$button-color: var(--primary-color);
$button-hover-color: var(--tertiary-color);

$logo-color: var(--focus-color);
$logo-bg-color: var(--primary-color);

$active-btn-color: var(--focus-color);
$active-btn-bg-color: var(--primary-color);

$victory-title-color: var(--focus-color);
$victory-title-bg-color: var(--primary-color);
$victory-bg-color: var(--success-color);
$victory-border-color: var(--focus-color);

$star-icon-color: var(--vivid-color);
