$font-family: "Roboto", sans-serif;
$default-font-size: 18px;
$menu-font-size: 18px;

$crossword-font-size: 20px;
$contrast-button-font-size: 32px;
$contrast-button-font-small-size: 18px;
$detail-font-size: 10px;
