$size-variables: (
  sizes: (
    settings-modal-content-height: 400px,
    game-modal-content-width: 500px,
    settings-modal-container-width: 500px,
  ),
  crossword: (
    sizes: (
      table-padding: 2px,
      letter-gap: 1px,
    ),
    normal: (
      letter-square: 35px,
    ),
    large: (
      letter-square: 45px,
    ),
  ),
);

$table-padding: var(--table-padding-size);
$letter-gap: var(--letter-gap-size);

$square-size: var(--letter-square-size);
$detail-number-size: calc(var(--letter-square-size) / 2);

$settings-modal-content-height: var(--settings-modal-content-height-size);
$settings-modal-container-width: var(--settings-modal-container-width-size);
$game-modal-content-width: var(--game-modal-content-width-size);
